.inactive {
  opacity: 0.5;
}

.opacity-0 {
  opacity: 0.0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-100 {
  opacity: 1;
}